body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Hanken Grotesk', sans-serif;
    min-height: 100vh;
}

@media only screen and (max-height: 400px) {
  body {
    min-height: 150vh;
  }
}

footer{
  position: fixed;
  bottom: 10px;
}

p{
    font-size: 18px;
}

.flex-container{
    display: flex;
    flex-direction: row;
    /* border: 10px solid; */
    height: 350px;
    width: 500px;
    border-radius: 25px;
    box-shadow: 20px 20px 50px grey;
}

.card-result{
  background-image: linear-gradient(to bottom,hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 25px;
    text-align: center;
    padding: 15px;
    width: 500px;
}

.your-result{
  color: rgba(255,255,255,0.6);
  margin-top: 20px;
  margin-bottom: 20px;
}

.great{
  color: white;
  padding-top: 20px;
}

.text{
  color: rgba(255,255,255,0.6);
  font-size: small;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
}

.card-body{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.dot {
    height: 125px;
    width: 125px;
    background-image: linear-gradient(to bottom,hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    display: inline-block;
    padding: 15px;
    padding-top: 35px;
  }

  .shade-box{
    height: 40px;
    width: 200px;
    border-radius: 5px;
    font-size: small;
  }

  .icon{
    position: relative;
    right: 30px;
  }

  .keyword{
    position: relative;
    right: 20px;
    font-weight: 700;
  }

  .individual-marks-outof-100{
    position: relative;
    left: 30px;
  }

  .individual-marks{
    color: hsl(224, 30%, 27%);
    font-weight: 700;
  }

  .out-of-100{
    color: hsl(224, 30%, 27%,0.5);
  }

  .reaction{
    background-color: hsla(0, 100%, 67%,0.1);
    color: hsl(0, 100%, 67%);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .memory{
    background-color: hsla(39, 100%, 56%,0.1);
    color: hsl(39, 100%, 56%);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .verbal{
    background-color: hsla(166, 100%, 37%,0.1);
    color: hsl(166, 100%, 37%);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .visual{
    background-color: hsla(234, 85%, 45%,0.1);
    color: hsl(234, 85%, 45%);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-text{
    background-color: hsl(224, 30%, 27%);
    height: 40px;
    width: 200px;
    border-radius: 50px;
    text-align: center;
    color: white;
    padding: 10px;
    margin-top: 20px;
    font-size: small;
  }